@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
/*  
font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #141414;
    transition: all 0.5s;
}
.light-mode-txt{
    color: #141414 !important;
}
.light-mode-bg{
    background-color: aliceblue !important;
}
header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #141414;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
    margin-bottom: 2vh;
   

}
#header-content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}
#logo-header img{
    width: 50px;
}
#pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisa label span, #tema span{
    cursor: pointer;
    font-size: 2rem;
    color: white;

}
#pesquisa input{
    background: #808080;
    border-radius: 25px;
    border: none;
    width: 346px;
    height: 30px;
    padding-left: 20px;
}

#tema{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.loght, .dark{
    transition: all 0.5s;

}
.change_on_icon{
    opacity: 1;
}
.change_of_icon{
    opacity: 0;
}

/* MAIN */
main{
    padding-top: 12vh;
}
#img_mobile{
    display: none;
}
#carrossel{
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#slides{
 
    width: 400%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: aqua; */
    
    
}
#slides input{
    display: none;
}

.slide{
    width: 25%;
    /* height: 100%; */
    /* background-color: rgb(255, 136, 0); */
  
    
    overflow: hidden;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;

}
.img_slide{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
.img_slide img{
    width: 100%;
   
}



#navegacao_manual{
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    /* background-color: aqua; */
}
.manual_btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    margin: 4px;
    transition: all 0.5s;
}

.manual_btn:hover{
    background-color: white;
}

/* Mudar de imagem ao clicar */
#radio1:checked ~ .first{
    margin-left: 0%;
   
}
#radio2:checked ~ .first{
    margin-left: -25%;
   
}
#radio3:checked ~ .first{
    margin-left: -50%;
    
}
#radio4:checked ~ .first{
    margin-left: -75%;
   
}

#navegacao_auto div{
    border: solid 2px white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin: 4px;
    transition: 1s;
}
#navegacao_auto{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    
}

/* Marcar em qual imagem esta */
#radio1:checked ~ #navegacao_auto #auto_btn1{
    background-color: white;
    transition: all 2s;
}
#radio2:checked ~ #navegacao_auto #auto_btn2{
    background-color: white;
    transition: all 2s;
}
#radio3:checked ~ #navegacao_auto #auto_btn3{
    background-color: white;
    transition: all 2s;
}
#radio4:checked ~ #navegacao_auto #auto_btn4{
    background-color: white;
    transition: all 2s;
}

/* mangás */
#mangas{
    margin: 7vh 0vh 0vh 3vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#mangas span{
    font-size: 1.2rem;
    color: white;
    margin-left: 2px;
}
.mangas_content{
    height: 20vh;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    border-radius: 7px;
    /* background-color: aqua; */
    
}

.mangas_content::-webkit-scrollbar {
    height: 5px;           
    
}
  
.mangas_content::-webkit-scrollbar-track {
    background: rgb(128, 128, 128);   
    border-radius: 2px;   
    border: 1px solid rgb(0, 0, 0); 
}
  
.mangas_content::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    
    height: 3px;
    border-radius: 20px;      
    border: 1px solid rgb(128, 128, 128);
}
.manga{
    height: 100%;
    /* background-color: #ff1414; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right:12px;
    /* box-shadow: 5px 5px 5px 5px #949494; */
    user-select: none;
    
}
.manga img{
    height: 100%;
    
    border-radius: 4px;
    user-select: none;
}


/* Descrição */

.manga_desc{
    background-color: rgba(240, 248, 255, 0.952);
    height: auto;
    width: 25%;

    position: fixed;
    top: 10vh;
    right: 2px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
 
    padding: 4px;
    border-radius: 3px;
    

}
.content_fechar{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
}
#btn_fechar{
    font-size: 1.5rem;
    color: #141414;
    font-weight: 600;
    cursor: pointer;
}

.desc_top{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: row;
}
.content_img{
    /* background-color: aqua; */
    margin-right: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: start;

}
#img{
    width: 150px;
}
#title{
    font-size: 1.5rem;
    font-weight: 600;
}

.span_sep{
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 4px;
}
.container_autor,
.content_generos,
.content_generos_mobile{
    margin-top: 10px;
}
.container_autor{
    display: flex;
    flex-direction: column;
    width: auto;
}

.content_generos{
   
    display: flex;
    flex-direction: column;
   
}
#generos, #generos_mobile, .content_autor{
    display: flex;
    flex-wrap: wrap;
}
#generos li, #generos_mobile li{
    background-color: #808080;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 2px 3px;
    color: aliceblue;
}
.tipo{
    background-color: #3d3aff !important;
    color: #ffffff !important;
}

.desc_bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.content_cap,
.content_status{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    margin-top: 2px;
    align-items: center;
}

.content_sinopse{
    margin-top: 10px;
    /* background-color: #808080; */
}
#sinopse{
    max-height: 20vh;
    /* background-color: aqua; */
    overflow-y: auto;
    text-align: justify;
    padding: 0px 7px 0px 0px;
}
#sinopse::-webkit-scrollbar {
    width: 10px;  
  }
  
#sinopse::-webkit-scrollbar-track {
    background: rgb(148, 148, 148);   
    border-radius: 10px; 
  }
  
#sinopse::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(148, 148, 148)  /* creates padding around scroll thumb */
  }

/* geneos mobile */
.content_generos_mobile{
    width: 100%;
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.desc_mobile .content_generos_mobile{
    margin-left: 10px;
}

.desc_mobile .content_generos_mobile #generos{
    margin-left: 0;
}

  /* content resultados */
#resultado{
    width: 100vw;
    height: 100vh;
    z-index: 11;
    position: fixed;
    top: 10vh;
    /* background-color: rgba(32, 32, 32, 0.527); */
   
  
    display: none;
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(2px);

    
    
}
#content_resultados{
    background-color: #ffffff;
    min-height: auto;
    max-height: 90%;
    width: 50vw;
    padding: 5px;
    border-radius: 5px;


    overflow-y: auto;
    
}

.resultado_manga{
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
}
.result_img{
    /* background-color: aqua; */
    height: 20vh;
    margin-right: 5px;
}
.result_img img{
    max-height: 100%;
}
#result_title{
    font-size: 1.4rem;
}
.content_result_cap{
    display: flex;
    align-items: center;
    margin: 4px 0px;
    
    /* background-color: aqua; */
}
.pre{
    font-size: 1.2rem;
    margin-right: 4px;
}

.result_generos{
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
}
.result_generos li{
    
    background-color: #808080;
    color: #ffffff;
    padding: 3px;
    margin: 2px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Responsividade Header */
@media screen and (max-width: 600px) {
    #logo-header img{
        width: 40px;


    }
    #pesquisa label span, #tema span{
        font-size: 1.7rem;

    }
    #pesquisa input{
        border-radius: 20px;
        width: 300px;
        height: 30px;
        font-size: 1.1rem;
        padding-left: 10px;
    }
}
@media screen and (max-width: 500px) {
    #logo-header img{
        width: 40px;
    }
    #pesquisa label span, #tema span{
        font-size: 1.8rem;

    }
    #pesquisa input{
        border-radius: 20px;
        width: 250px;
      
    }
}
@media screen and (max-width: 450px) {

    Header{
        height: 8vh;
    }

    #pesquisa label span{
        display: none;
    }
    #pesquisa input{
        width: 200px;
   
        /* background-color: aqua; */
    }
    #pesquisa input::placeholder{
        color: #ffffff94;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;
       
    }
}
@media screen and (max-width: 350px) {
    #logo-header img{
        width: 35px;
    }
    #pesquisa input{
        width: 100%;
        margin: 0 10px;
    }
}
@media screen and (max-width: 300px) {
    #tema{
        display: none;
    }
    #pesquisa input{
        margin: 0px 0px 0px 5px;
    }
}

/* Responsividade Main */
@media screen and (max-width: 700px) {
    main{
        padding-top: 12vh;
    }
    #carrossel{
        height: 35vh;
        /* background-color: aqua; */
    }
    #slides{
        height: 35vh;
        align-items: center;  
    }
    .slide{
        height: 100%;
    
        /* background-color: aqua; */
    }
    .manual_btn{
        padding: 7px;
        margin: 6px;
       
    }
    #navegacao_auto div{
        padding: 7px;
        margin: 6px;
       
    }
}
@media screen and (max-width: 600px) {
    #carrossel{
        height: 30vh;
        display: none;
    }
    #slides{
        height: 30vh;
       
    }
    .slide{
        width: 25%;
        height: 100%;
        padding: 0px 20px;
    }
    .img_slide img{
       width: auto;
       height: 300px;
    }
    #img_mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: aqua; */
        width: 100%;
        margin: 0;
        padding: 0%;

    }
    #img_mobile img{
        width: 90%;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
    }
}
@media screen and (max-width: 500px) {
    #carrossel{
        height: 30vh;
       
    }
    #slides{
        height: 30vh;
       
    }
    .slide{
        width: 25%;
        height: 280px;
        padding: 0px 20px;
    }
    .img_slide img{
       height: 100%;
    }
}
@media screen and (max-width: 450px) {
    #carrossel{
        height: 25vh;
       
    }
    #slides{
        height: 25vh;
       
    }
    .img_slide img{
        width: 110%;
        height: auto;
     }
}
@media screen and (max-width: 400px) {
    #carrossel{
        display: none;
    }
    main{
        padding-top: 10vh;
    }
    #mangas{
        margin: 7vh 0vh 0vh 1vh;
    }
   
}

/* Responsividade descrição mangá */
@media screen and (max-width: 1900px) {
    .manga_desc{
        width: 20%;   
    }
}
@media screen and (max-width: 1700px) {
    .manga_desc{
        width: 25%;   
    }
}
@media screen and (max-width: 1300px) {
    .manga_desc{
        width: 30%;   
    }
}
@media screen and (max-width: 1050px) {
    .manga_desc{
        width: 35%;   
    }
}
@media screen and (max-width: 900px) {
    .manga_desc{
        width: 40%;   
    }
}
@media screen and (max-width: 800px) {
    .manga_desc{
        width: 45%;   
    }
}
@media screen and (max-width: 450px) {
    .manga_desc{
        top:8vh;
       
    }
}
@media screen and (max-width: 700px) {
    .manga_desc{
        width: 50%;   
    }
}
@media screen and (max-width: 600px) {
    #sinopse::-webkit-scrollbar {
        width: 7px;  
      }
      
    #sinopse::-webkit-scrollbar-track {
        background: rgb(148, 148, 148);   
        border-radius: 10px; 
      }
      
    #sinopse::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 2px solid rgb(148, 148, 148)  /* creates padding around scroll thumb */
      }
}
@media screen and (max-width: 500px) {
    .manga_desc{
        width: 70%;   
    }
}
@media screen and (max-width: 450px) {
    .manga_desc{
        width: 75%;   
    }
}
@media screen and (max-width: 400px) {
    .manga_desc{
        width: 85%;   
    }
}
@media screen and (max-width: 400px) {
    .manga_desc{
        width: 95%;   
    }
}

/* Responsividade Pesquisa Mangá */
@media screen and (max-width: 900px) {
    #content_resultados{
        width: 60vw;   
    }
}
@media screen and (max-width: 750px) {
    #content_resultados{
        width: 70vw;   
    }
}
@media screen and (max-width: 600px) {
    #content_resultados{
        width: 80vw;   
    }
}
@media screen and (max-width: 500px) {
    #content_resultados{
        width: 90vw;   
    }
}
@media screen and (max-width: 450px) {
    #content_resultados{
        width: 95vw;   
    }
}
@media screen and (max-width: 450px) {
    #content_resultados{
        width: 99vw;   
    }
}